@charset "UTF-8";
@charset "UTF-8";

.tabs {
	font-size: 13px; line-height: 20px;
}
.tabs ul:before, .tabs ul:after {
	content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.tabs ul:after { clear: both; }
.tabs ul {
	margin:0;
	list-style:none;
	padding: 0 6%;
	border-bottom: 1px solid #000000;
	zoom: 1;
}

.tabs ul li {
	position: relative;
	float: left;
	margin: 0;
}
.tabs ul li{
	background: #ffffff;
	font-weight: bold;
	text-align: center;
	display: block;
	border: 0.3px solid #000000;
	color: #000000;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.75);
	padding: 6px 18px; margin: 0 5px -1px 0;
	/* Border Radius */
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-decoration:none;
}
.tabs ul li:hover {
	border-color: #ccc;
	color: #606060;
}
.tabs ul li.activeT{
	background: #fff;
	border-color: #d4d4d4;
	border-bottom: 1px solid #fff;
	color: #000;
	margin-top: -4px;
	padding-top: 10px;
}